body {
  background-color: #abdebf;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: black;
  float: left;
  margin: 20px;
}
label {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  font-weight: 700;
  padding: 2px;
}
header {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 43px;
}
button {
  cursor: pointer;
}

/* class for the selected anchor */
.headerClickedPage {
  text-decoration: underline;
  color: black;
}

.headerContactButton {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  text-decoration: none;
  background-color: #b59a8f;
  color: black;
  border-radius: 15px;
  margin: auto;
  float: right;
}

.headerContactButton:hover {
  background: #98c171;
  color: black;
}

.image-container {
  margin: 40px;
  width: fit-content;
}
/* Home Page */
#image {
  width: 443px;
  height: 500px;
  background-color: #aec493;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: right;
  overflow: hidden;
}

.displayWorkButtonContainer {
  position: absolute;
  right: 17%;
  top: 58%;
}
.displayWorkButton {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  text-decoration: none;
  font-size: 23px;
  background: #e5e29f;
  font-weight: 550;
  border-radius: 15px;
}

.displayWorkButton:hover {
  background-color: #bf9e4a;
  color: black;
}
#index-description {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  position: absolute;
  left: 40%;
  top: 20%;
  font-size: xx-large;
}
#index-text-one {
  font-size: 25px;
}
#index-text-two {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

#index-text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #ce746c;
}
#index-text-four {
  font-size: 23px;
  margin: 5px 0;
}



/* About */
#About-Me-Container {
  width: 500px;
  font-size: large;
  position: absolute;
  left: 35%;
  text-align: center;
  line-height: 30px;
}
#About-me-image {
  width: 443px;
  height: 500px;
  background-color: #aec493;
  border-radius: 50%;
  display: flex;
  justify-content: left;
  overflow: hidden;
}

/* ThankYouPage */

.navigate-index {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  text-decoration: none;
  background-color: #b59a8f;
  color: black;
  border-radius: 15px;
  margin: auto;
}
.navigate-index-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Projects */

#ProjectsContainer {
  background-color: red;
  display: block;
  width: 800px;
  height: 400px;
}


