body {
  background-color: #abdebf;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.overFlowPages {
  overflow-y: auto;
}
a {
  text-decoration: none;
  color: black;
  float: left;
  margin: 20px;
}
a:hover {
  text-decoration: underline;
  color:rgba(11, 57, 65, 0.43)
}
label {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  font-weight: 700;
  padding: 2px;
}
header {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 43px;
}
button {
  cursor: pointer;
}

/* class for the selected anchor */
.headerClickedPage {
  text-decoration: underline;
  color: black;
}

.headerContactButton {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  text-decoration: none;
  background-color: #b59a8f;
  color: black;
  border-radius: 15px;
  margin: auto;
  float: right;
}

.headerContactButton:hover {
  background: #98c171;
  color: black;
}

.image-container {
  margin: 40px;
  width: fit-content;
}
/* Home Page */
#image {
  width: 443px;
  height: 500px;
  background-color: #aec493;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: right;
  overflow: hidden;
}

.displayWorkButtonContainer {
  position: absolute;
  right: 17%;
  top: 58%;
}
.displayWorkButton {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  text-decoration: none;
  font-size: 23px;
  background: #e5e29f;
  font-weight: 550;
  border-radius: 15px;
}

.displayWorkButton:hover {
  background-color: #bf9e4a;
  color: black;
}
#index-description {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  position: absolute;
  left: 40%;
  top: 20%;
  font-size: xx-large;
}
#index-text-one {
  font-size: 25px;
}
#index-text-two {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

#index-text-three {
  font-size: 40px;
  margin: 5px 0;
  color: #ce746c;
}
#index-text-four {
  font-size: 23px;
  margin: 5px 0;
}

/* About */
#About-Me-Container {
  width: 500px;
  font-size: large;
  position: absolute;
  left: 35%;
  text-align: center;
  line-height: 30px;
}
#About-me-image {
  width: 443px;
  height: 500px;
  background-color: #aec493;
  border-radius: 50%;
  display: flex;
  justify-content: left;
  overflow: hidden;
}

/* ThankYouPage */

.navigate-index {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  text-decoration: none;
  background-color: #b59a8f;
  color: black;
  border-radius: 15px;
  margin: auto;
}
.navigate-index-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Projects */

#ProjectsContainer {
  
  text-align: center;
  width: 120px;
  display: flex;
  float: center;
}
 .thumbnail{
  width: 200px;
  height: 200px;
  border-radius: 40px;
  background-color: #a5bc8b42;
 }
/* Contact Page */

.thank-you {
  text-align: center;
}

.container {
  width: 100%;
  margin: 20px auto 0 auto;
  max-width: 540px;
}

.text-center {
  text-align: center;
}

.form-group {
  margin: 0 auto 25px auto;
  padding: 4;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0 4px rgba(0, 123, 255, 0.25);
}
.input-textarea {
  min-height: 100px;
  width: 553px;
  resize: vertical;
  font-family: inherit;
}

.submit-button {
  display: block;
  width: 553px;
  padding: 12px;
  background: linear-gradient(to right, #1f8ebe, #80b44f);
  color: inherit;
  border-radius: 12px;
  color: whitesmoke;
  font-size: 25px;
}
.submit-button:hover {
  background: linear-gradient(to right, #4cc9f0, #6a9542);
  cursor: pointer;
}
.social-media-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
